.gradle/
*.idea/

# package files
*.jar
*.war
*.zip
*.tar.gz
*.rar
*.ear
*.nar

# but allow the Gradle wrapper jar to include
!gradle/wrapper/gradle-wrapper.jar

# log file
*.log

*.ctxt

# compiled class file
*.class
.DS_STORE
*.dist
build/